@charset "UTF-8";

@media screen and (min-width: 992px) {

    html, body {
        width: 100vw;
        height: 100vh;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    section#container > div#imagem {
        display: block;
        background: #0585D0 url(../imagens/predio-roxo.jpg) no-repeat;
        background-size: cover;
        background-position: left center;
        height: 100vh;
        width: 50vw;
        box-shadow: inset 5px 2px 20px -2px #000000a1;
    }

    section#container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -50%);

        width: 50vw;
        height: 100vh;
    }

    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);

        width: 50vw;
        height: 100vh;
    }


    input#iemail, input #isenha {
        margin: auto;

    }

    input#entrar {
        width: 280px;
    }

    h1 {
        padding-top: 25vh;
    }

    p#iinsira {
        display: block;
        margin: auto;
        text-align: left;
        margin-left: 7.5vw;
    }
}