@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    section#container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-0%, -50%);

        width: 50vw;
        height: 100vh;
    }

    section#container > div#imagem {
        display: block;
        background: #75b6de38 url(../imagens/predio-roxo.jpg) no-repeat;
        background-size: cover;
        background-position: left center;
        height: 100vh;
        width: 50vw;
        box-shadow: inset 5px 2px 20px -2px #000000a1;
    }

    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);

        width: 50vw;
        height: 100vh;
    }


    input#iemail, input#isenha {
        width: 30vw;
        margin: auto;

    }

    button.ientrar {
        width: 30vw;
    }

    input#essenha {
        width: 15vw;
    }

    h1 {
        padding-top: 25vh;
    }

    p#iinsira {
        display: block;
        margin: auto;
        text-align: left;
        margin-left: 7.5vw;
    }
}

@media screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    section#login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-167%, -50%);

        width: 30vw;
        height: 100vh;
    }

    section#container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-16%, -50%);

        width: 125.2vw;
        height: 100vh;
        background-image: url(../imagens/ceu-medio.jpg);
        background-repeat: repeat;
        background-size: contain;
        box-shadow: none;
    }

    section#container > div#imagem {
        display: block;
        background-image: url(../imagens/predio-roxo.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 100%;
        height: 100%;
        box-shadow: inset 5px 2px 20px -2px #000000a1;
    } 

    input#iemail, input#isenha {
        width: 18vw;
        margin: auto;

    }

    button.ientrar {
        width: 18vw;
    }

    input#essenha {
        width: 15vw;
    }

    h1 {
        margin-top: 30vh;
    }

}