@charset "UTF-8";

/* 
   Paleta de cores
   Azul: #0585D0 
   Roxo: #7A57BF #3939B5 232ed1
   Azul claro: #75B6DE #77B9F2
   Branco:  #FFFFFF 

   Typical Device Breakpoints

    Pequenas telas: max-width: 600px
    Celular: min-width: 600px
    Tablet: min-width: 768px
    Desktop: min-width: 992px
    Grandes telas: min-width: 1200px */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #77b9f217;
}


section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 60vw;
    height: 55vh;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.226);
    font-size: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    transition: height, 0.2s, width, 0.2s;
    transition-timing-function: ease;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login > div#imagem {
    display: none;
}


input#iemail, input#isenha {
    width: 280px;
    border: 2px solid rgba(0, 0, 0, 0.575);
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}


input#iemail:hover, input#isenha:hover  {
    border: 2px solid #313BB6
}

button.ientrar {
    border: none;
    width: 285px;
    margin: auto;
    padding: 10px;
    border-radius: 1000px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(75, 71, 71);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

button.ientrar::after {
    content: '';
    position: absolute;
    height: 122%;
    width: 103%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #7959C8, #1231AE, #3EB2EB);
    z-index: -1;

    /* #232ed1 */
}

button:hover {
    z-index: 0;
}

input#essenha {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    border: none;
    background-color: white;
}

input#essenha:hover {
    text-decoration: underline;
    color: #0011ff;  
}

h1 {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    padding: 10px;
}

p#iinsira {
        text-align: left;
        margin-left: 7.3vw;
}

