@charset "UTF-8";

/* 
   Paleta de cores
   Azul: #0585D0 
   Roxo: #7A57BF #3939B5 232ed1
   Azul claro: #75B6DE #77B9F2
   Branco:  #FFFFFF 

   Typical Device Breakpoints

    Pequenas telas: max-width: 600px
    Celular: min-width: 600px
    Tablet: min-width: 768px
    Desktop: min-width: 992px
    Grandes telas: min-width: 1200px */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #77b9f217;
}

::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

section#container > div#imagem {
    display: none;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 80vw;
    height: 60vh;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.226);
    font-size: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    transform: translate(-50%, -50%);
    transition-timing-function: ease;
}

div#formulario > p {
    text-align: center;
    padding: 10px; 
    width: 37vw; 
}

div#formulario > h1 {
    text-align: center;
    color: rgb(44, 43, 43);
    margin-top: 50px;
    margin-bottom: 60px;
}

div.campo > input {
    width: 40vw;
    border: 1px solid rgba(0, 0, 0, 0.575);
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}

div.campo > input:focus-within {
    border: 1px solid #0011ff;
}

div.campo > input:hover {
    border: 2px solid #313BB6;
}

div.campo > button.ientrar {
    border: none;
    width: 55%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 1000px;
    font-size: 1em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(75, 71, 71);
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.campo > button.ientrar::after {
    content: '';
    position: absolute;
    height: 122%;
    width: 103%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #7959C8, #1231AE, #3EB2EB);
    z-index: -1;

    /* #232ed1 */
}

div.campo > button:hover {
    z-index: 0;
}

form > div.campo > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 16px;
    width: 100%;
    border: none;
    color: rgba(0, 0, 0, 0.897);
    background-color: transparent;
}

form > div.campo a.botao:hover {
    text-decoration: underline;
    color: #0011ff;  
} 