@charset "UTF-8";

/* 
   Paleta de cores
   Azul: #0585D0 #0B2EA4
   Roxo: #7A57BF #3939B5 232ed1
   Azul claro: #75B6DE #77B9F2
   Branco:  #FFFFFF 

   Typical Device Breakpoints

    Pequenas telas: max-width: 600px
    Celular: min-width: 600px
    Tablet: min-width: 768px
    Desktop: min-width: 992px
    Grandes telas: min-width: 1200px */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffffff;
}

main {
    background-color: white;
    width: 60vw;
    height: 55vh;
    border: 1px solid;
    text-align: left;
    margin: auto;
    margin-top: 25vh;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.226);
    font-size: 1em;
}

div#imagem {
    background-size: contain;
    background-attachment: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
}

input#iemail, input#isenha{
    width: 280px;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
}


input#iemail:hover, input#isenha:hover  {
    border: 2px solid #3939B5;
}

input#entrar {
    border: 1px solid rgba(0, 0, 0, 0.363);
    width: 50vw;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#0000000e;
}

input#entrar:hover {
    color: #ffffff;
    background-color:#232ed1;
}

input#essenha {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    border: none;
    background-color: white;
}

input#essenha:hover {
    text-decoration: underline;
    color: #0011ff;  
}

h1 {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    text-indent: 25px;
    padding: 10px;
}
